<script>
  import { gsap } from '@/lib/gsap';
  gsap.from('.fill-outset-6', {
    drawSVG: 0,
    duration: 1,
    repeat: -1,
    yoyo: true,
    ease: 'power1.inOut'
  });
</script>

<section class='am-section'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    xml:space='preserve'
    width='1920'
    height='1080'
    viewBox='0 0 508 285.75'
    ><g class="group">
      <path
        d='M1.353 131.286c6.93-7.694 16.267-13.189 26.359-15.512 10.091-2.322 20.89-1.462 30.487 2.428 6.538 2.651 12.438 6.624 18.577 10.102 6.138 3.477 12.735 6.526 19.771 7.042 6.07.445 12.152-1.033 17.776-3.357 5.624-2.324 10.859-5.48 16.107-8.56 5.25-3.08 10.57-6.11 16.302-8.155 5.732-2.045 11.943-3.073 17.94-2.034 7.563 1.31 14.2 5.772 20.086 10.7 5.886 4.929 11.323 10.46 17.81 14.564 7.1 4.492 15.284 7.132 23.613 8.238 8.328 1.105 16.808.708 25.112-.568 18.991-2.918 37.336-10.547 52.334-22.558 5.066-4.057 9.85-8.664 15.79-11.279 7.184-3.162 15.485-3.083 23.082-1.11 7.597 1.972 14.607 5.722 21.343 9.751 6.735 4.03 13.303 8.383 20.403 11.73 7.1 3.346 14.854 5.675 22.696 5.345 6.218-.26 12.275-2.186 17.893-4.863 5.617-2.678 10.841-6.101 16.032-9.533 5.191-3.432 10.387-6.893 15.963-9.656 5.576-2.763 11.579-4.823 17.786-5.273 11.822-.857 23.919 4.578 31.13 13.986'
        class='path fill-inner'></path>
      <path
        d='M1.353 131.286c6.93-7.694 16.267-13.189 26.359-15.512 10.091-2.322 20.89-1.462 30.487 2.428 6.538 2.651 12.438 6.624 18.577 10.102 6.138 3.477 12.735 6.526 19.771 7.042 6.07.445 12.152-1.033 17.776-3.357 5.624-2.324 10.859-5.48 16.107-8.56 5.25-3.08 10.57-6.11 16.302-8.155 5.732-2.045 11.943-3.073 17.94-2.034 7.563 1.31 14.2 5.772 20.086 10.7 5.886 4.929 11.323 10.46 17.81 14.564 7.1 4.492 15.284 7.132 23.613 8.238 8.328 1.105 16.808.708 25.112-.568 18.991-2.918 37.336-10.547 52.334-22.558 5.066-4.057 9.85-8.664 15.79-11.279 7.184-3.162 15.485-3.083 23.082-1.11 7.597 1.972 14.607 5.722 21.343 9.751 6.735 4.03 13.303 8.383 20.403 11.73 7.1 3.346 14.854 5.675 22.696 5.345 6.218-.26 12.275-2.186 17.893-4.863 5.617-2.678 10.841-6.101 16.032-9.533 5.191-3.432 10.387-6.893 15.963-9.656 5.576-2.763 11.579-4.823 17.786-5.273 11.822-.857 23.919 4.578 31.13 13.986'
        class='path fill-outset-6'></path>
    </g></svg
  >
</section>

<style>
  .am-section {
    height: 100vh;
    position: relative;
    background: conic-gradient(
      from 90deg at 40% -25%,
      #ffd700,
      #f79d03,
      #ee6907,
      #e6390a,
      #de0d0d,
      #d61039,
      #cf1261,
      #c71585,
      #cf1261,
      #d61039,
      #de0d0d,
      #ee6907,
      #f79d03,
      #ffd700,
      #ffd700,
      #ffd700
    );
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .group {
    display: inline;
    opacity: 1;
  }

  .path {
    fill: none;
    stroke-linejoin: round;
  }

  .fill-inner {
    stroke: #000;
    stroke-width: 0.79375;
    opacity: 0;
  }

  .fill-outset-6 {
    stroke: mediumorchid;
    stroke-width: 12px;
  }
</style>
