<script>
  import { gsap } from '@/lib/gsap';
  gsap.from(['.fill-outset-7', '.fill-outset-71'], {
    drawSVG: 0,
    duration: 1,
    repeat: -1,
    yoyo: true,
    ease: 'power1.inOut'
  });
</script>

<section class='am-section'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    xml:space='preserve'
    width='1920'
    height='1080'
    viewBox='0 0 508 285.75'
    ><g class='group'
      >
      <path
        class='path fill-inner'
        d='M15.526 5.822a29.882 29.882 0 0 0-4.852 11.645c-.803 4.381-.58 9.045 1.283 13.091.931 2.023 2.267 3.869 3.957 5.32 1.69 1.45 3.736 2.5 5.92 2.938 2.082.417 4.256.277 6.31-.264 2.052-.54 3.989-1.475 5.776-2.622 3.573-2.294 6.529-5.408 9.578-8.363 3.05-2.955 6.306-5.83 10.22-7.478 1.957-.824 4.064-1.326 6.187-1.325 2.123.001 4.263.518 6.082 1.614 1.748 1.054 3.163 2.617 4.172 4.392 1.01 1.774 1.624 3.756 1.952 5.77.656 4.03.182 8.145-.158 12.214-.34 4.069-.533 8.248.653 12.155.593 1.953 1.535 3.816 2.877 5.355 1.342 1.538 3.095 2.742 5.06 3.297 2.692.76 5.608.27 8.205-.772 2.596-1.042 4.942-2.607 7.32-4.08 13.925-8.626 30.37-14.486 46.58-12.13 1.682.244 3.389.59 4.852 1.455 1.75 1.037 3.033 2.781 3.666 4.715.632 1.933.639 4.042.189 6.026-.9 3.968-3.519 7.316-6.319 10.268-2.8 2.952-5.883 5.694-8.083 9.117-1.1 1.712-1.967 3.59-2.383 5.582-.416 1.991-.365 4.102.314 6.02.891 2.514 2.843 4.591 5.2 5.84 2.357 1.25 5.093 1.701 7.754 1.508 5.322-.385 10.15-3.22 14.426-6.41s8.268-6.837 13.011-9.281c2.371-1.222 4.927-2.131 7.576-2.445 2.649-.314 5.399-.013 7.83 1.083 2.817 1.27 5.107 3.568 6.623 6.259 1.516 2.691 2.29 5.76 2.526 8.839.472 6.16-1.136 12.26-2.385 18.31-1.25 6.05-2.133 12.433-.267 18.322.933 2.945 2.57 5.703 4.908 7.722 2.338 2.018 5.402 3.253 8.489 3.139 2.275-.085 4.492-.889 6.411-2.112 1.92-1.224 3.557-2.856 4.958-4.65 2.803-3.59 4.68-7.8 7.068-11.676 4.999-8.109 12.6-14.908 21.776-17.468 4.588-1.28 9.502-1.47 14.13-.345 4.628 1.126 8.952 3.59 12.129 7.139 3.493 3.903 5.494 8.948 6.588 14.07 1.093 5.123 1.342 10.381 1.742 15.604.4 5.223.965 10.486 2.654 15.445 1.688 4.958 4.6 9.64 8.909 12.62 3.212 2.22 7.1 3.407 11.004 3.522 3.903.115 7.813-.824 11.315-2.553 4.341-2.142 8.011-5.439 11.309-8.983 3.297-3.545 6.28-7.375 9.62-10.88 3.34-3.505 7.097-6.718 11.513-8.702 4.416-1.985 9.572-2.645 14.137-1.031 3.226 1.14 6.018 3.368 8.064 6.112 2.046 2.743 3.369 5.985 4.092 9.33 1.448 6.69.542 13.644-.515 20.406-1.057 6.763-2.263 13.623-1.398 20.413.433 3.395 1.394 6.747 3.068 9.732 1.675 2.985 4.084 5.593 7.067 7.271 2.676 1.506 5.755 2.234 8.825 2.299 3.07.065 6.134-.517 9.043-1.499 5.82-1.964 10.969-5.472 16.089-8.865 5.12-3.392 10.394-6.757 16.32-8.374 2.962-.808 6.068-1.162 9.12-.826 3.052.337 6.05 1.383 8.53 3.194 3.805 2.78 6.178 7.21 7.195 11.81 1.017 4.6.787 9.39.18 14.062-.608 4.672-1.586 9.295-2.057 13.983-.472 4.688-.422 9.507.99 14.002 1.957 6.234 6.596 11.576 12.493 14.389 5.898 2.812 12.968 3.055 19.044.652'
      ></path>
      <path
        class='path fill-outset-7'
        d='M15.526 5.822a29.882 29.882 0 0 0-4.852 11.645c-.803 4.381-.58 9.045 1.283 13.091.931 2.023 2.267 3.869 3.957 5.32 1.69 1.45 3.736 2.5 5.92 2.938 2.082.417 4.256.277 6.31-.264 2.052-.54 3.989-1.475 5.776-2.622 3.573-2.294 6.529-5.408 9.578-8.363 3.05-2.955 6.306-5.83 10.22-7.478 1.957-.824 4.064-1.326 6.187-1.325 2.123.001 4.263.518 6.082 1.614 1.748 1.054 3.163 2.617 4.172 4.392 1.01 1.774 1.624 3.756 1.952 5.77.656 4.03.182 8.145-.158 12.214-.34 4.069-.533 8.248.653 12.155.593 1.953 1.535 3.816 2.877 5.355 1.342 1.538 3.095 2.742 5.06 3.297 2.692.76 5.608.27 8.205-.772 2.596-1.042 4.942-2.607 7.32-4.08 13.925-8.626 30.37-14.486 46.58-12.13 1.682.244 3.389.59 4.852 1.455 1.75 1.037 3.033 2.781 3.666 4.715.632 1.933.639 4.042.189 6.026-.9 3.968-3.519 7.316-6.319 10.268-2.8 2.952-5.883 5.694-8.083 9.117-1.1 1.712-1.967 3.59-2.383 5.582-.416 1.991-.365 4.102.314 6.02.891 2.514 2.843 4.591 5.2 5.84 2.357 1.25 5.093 1.701 7.754 1.508 5.322-.385 10.15-3.22 14.426-6.41s8.268-6.837 13.011-9.281c2.371-1.222 4.927-2.131 7.576-2.445 2.649-.314 5.399-.013 7.83 1.083 2.817 1.27 5.107 3.568 6.623 6.259 1.516 2.691 2.29 5.76 2.526 8.839.472 6.16-1.136 12.26-2.385 18.31-1.25 6.05-2.133 12.433-.267 18.322.933 2.945 2.57 5.703 4.908 7.722 2.338 2.018 5.402 3.253 8.489 3.139 2.275-.085 4.492-.889 6.411-2.112 1.92-1.224 3.557-2.856 4.958-4.65 2.803-3.59 4.68-7.8 7.068-11.676 4.999-8.109 12.6-14.908 21.776-17.468 4.588-1.28 9.502-1.47 14.13-.345 4.628 1.126 8.952 3.59 12.129 7.139 3.493 3.903 5.494 8.948 6.588 14.07 1.093 5.123 1.342 10.381 1.742 15.604.4 5.223.965 10.486 2.654 15.445 1.688 4.958 4.6 9.64 8.909 12.62 3.212 2.22 7.1 3.407 11.004 3.522 3.903.115 7.813-.824 11.315-2.553 4.341-2.142 8.011-5.439 11.309-8.983 3.297-3.545 6.28-7.375 9.62-10.88 3.34-3.505 7.097-6.718 11.513-8.702 4.416-1.985 9.572-2.645 14.137-1.031 3.226 1.14 6.018 3.368 8.064 6.112 2.046 2.743 3.369 5.985 4.092 9.33 1.448 6.69.542 13.644-.515 20.406-1.057 6.763-2.263 13.623-1.398 20.413.433 3.395 1.394 6.747 3.068 9.732 1.675 2.985 4.084 5.593 7.067 7.271 2.676 1.506 5.755 2.234 8.825 2.299 3.07.065 6.134-.517 9.043-1.499 5.82-1.964 10.969-5.472 16.089-8.865 5.12-3.392 10.394-6.757 16.32-8.374 2.962-.808 6.068-1.162 9.12-.826 3.052.337 6.05 1.383 8.53 3.194 3.805 2.78 6.178 7.21 7.195 11.81 1.017 4.6.787 9.39.18 14.062-.608 4.672-1.586 9.295-2.057 13.983-.472 4.688-.422 9.507.99 14.002 1.957 6.234 6.596 11.576 12.493 14.389 5.898 2.812 12.968 3.055 19.044.652'
      ></path>
      </g
    ></svg
  >
  <svg
    xmlns='http://www.w3.org/2000/svg'
    xml:space='preserve'
    width='1920'
    height='1080'
    viewBox='0 0 508 285.75'
    class="svg-2"
    ><g class='group'
      >
      <path
        class='path fill-inner'
        d='M15.526 5.822a29.882 29.882 0 0 0-4.852 11.645c-.803 4.381-.58 9.045 1.283 13.091.931 2.023 2.267 3.869 3.957 5.32 1.69 1.45 3.736 2.5 5.92 2.938 2.082.417 4.256.277 6.31-.264 2.052-.54 3.989-1.475 5.776-2.622 3.573-2.294 6.529-5.408 9.578-8.363 3.05-2.955 6.306-5.83 10.22-7.478 1.957-.824 4.064-1.326 6.187-1.325 2.123.001 4.263.518 6.082 1.614 1.748 1.054 3.163 2.617 4.172 4.392 1.01 1.774 1.624 3.756 1.952 5.77.656 4.03.182 8.145-.158 12.214-.34 4.069-.533 8.248.653 12.155.593 1.953 1.535 3.816 2.877 5.355 1.342 1.538 3.095 2.742 5.06 3.297 2.692.76 5.608.27 8.205-.772 2.596-1.042 4.942-2.607 7.32-4.08 13.925-8.626 30.37-14.486 46.58-12.13 1.682.244 3.389.59 4.852 1.455 1.75 1.037 3.033 2.781 3.666 4.715.632 1.933.639 4.042.189 6.026-.9 3.968-3.519 7.316-6.319 10.268-2.8 2.952-5.883 5.694-8.083 9.117-1.1 1.712-1.967 3.59-2.383 5.582-.416 1.991-.365 4.102.314 6.02.891 2.514 2.843 4.591 5.2 5.84 2.357 1.25 5.093 1.701 7.754 1.508 5.322-.385 10.15-3.22 14.426-6.41s8.268-6.837 13.011-9.281c2.371-1.222 4.927-2.131 7.576-2.445 2.649-.314 5.399-.013 7.83 1.083 2.817 1.27 5.107 3.568 6.623 6.259 1.516 2.691 2.29 5.76 2.526 8.839.472 6.16-1.136 12.26-2.385 18.31-1.25 6.05-2.133 12.433-.267 18.322.933 2.945 2.57 5.703 4.908 7.722 2.338 2.018 5.402 3.253 8.489 3.139 2.275-.085 4.492-.889 6.411-2.112 1.92-1.224 3.557-2.856 4.958-4.65 2.803-3.59 4.68-7.8 7.068-11.676 4.999-8.109 12.6-14.908 21.776-17.468 4.588-1.28 9.502-1.47 14.13-.345 4.628 1.126 8.952 3.59 12.129 7.139 3.493 3.903 5.494 8.948 6.588 14.07 1.093 5.123 1.342 10.381 1.742 15.604.4 5.223.965 10.486 2.654 15.445 1.688 4.958 4.6 9.64 8.909 12.62 3.212 2.22 7.1 3.407 11.004 3.522 3.903.115 7.813-.824 11.315-2.553 4.341-2.142 8.011-5.439 11.309-8.983 3.297-3.545 6.28-7.375 9.62-10.88 3.34-3.505 7.097-6.718 11.513-8.702 4.416-1.985 9.572-2.645 14.137-1.031 3.226 1.14 6.018 3.368 8.064 6.112 2.046 2.743 3.369 5.985 4.092 9.33 1.448 6.69.542 13.644-.515 20.406-1.057 6.763-2.263 13.623-1.398 20.413.433 3.395 1.394 6.747 3.068 9.732 1.675 2.985 4.084 5.593 7.067 7.271 2.676 1.506 5.755 2.234 8.825 2.299 3.07.065 6.134-.517 9.043-1.499 5.82-1.964 10.969-5.472 16.089-8.865 5.12-3.392 10.394-6.757 16.32-8.374 2.962-.808 6.068-1.162 9.12-.826 3.052.337 6.05 1.383 8.53 3.194 3.805 2.78 6.178 7.21 7.195 11.81 1.017 4.6.787 9.39.18 14.062-.608 4.672-1.586 9.295-2.057 13.983-.472 4.688-.422 9.507.99 14.002 1.957 6.234 6.596 11.576 12.493 14.389 5.898 2.812 12.968 3.055 19.044.652'
      ></path>
      <path
        class='path fill-outset-71'
        d='M15.526 5.822a29.882 29.882 0 0 0-4.852 11.645c-.803 4.381-.58 9.045 1.283 13.091.931 2.023 2.267 3.869 3.957 5.32 1.69 1.45 3.736 2.5 5.92 2.938 2.082.417 4.256.277 6.31-.264 2.052-.54 3.989-1.475 5.776-2.622 3.573-2.294 6.529-5.408 9.578-8.363 3.05-2.955 6.306-5.83 10.22-7.478 1.957-.824 4.064-1.326 6.187-1.325 2.123.001 4.263.518 6.082 1.614 1.748 1.054 3.163 2.617 4.172 4.392 1.01 1.774 1.624 3.756 1.952 5.77.656 4.03.182 8.145-.158 12.214-.34 4.069-.533 8.248.653 12.155.593 1.953 1.535 3.816 2.877 5.355 1.342 1.538 3.095 2.742 5.06 3.297 2.692.76 5.608.27 8.205-.772 2.596-1.042 4.942-2.607 7.32-4.08 13.925-8.626 30.37-14.486 46.58-12.13 1.682.244 3.389.59 4.852 1.455 1.75 1.037 3.033 2.781 3.666 4.715.632 1.933.639 4.042.189 6.026-.9 3.968-3.519 7.316-6.319 10.268-2.8 2.952-5.883 5.694-8.083 9.117-1.1 1.712-1.967 3.59-2.383 5.582-.416 1.991-.365 4.102.314 6.02.891 2.514 2.843 4.591 5.2 5.84 2.357 1.25 5.093 1.701 7.754 1.508 5.322-.385 10.15-3.22 14.426-6.41s8.268-6.837 13.011-9.281c2.371-1.222 4.927-2.131 7.576-2.445 2.649-.314 5.399-.013 7.83 1.083 2.817 1.27 5.107 3.568 6.623 6.259 1.516 2.691 2.29 5.76 2.526 8.839.472 6.16-1.136 12.26-2.385 18.31-1.25 6.05-2.133 12.433-.267 18.322.933 2.945 2.57 5.703 4.908 7.722 2.338 2.018 5.402 3.253 8.489 3.139 2.275-.085 4.492-.889 6.411-2.112 1.92-1.224 3.557-2.856 4.958-4.65 2.803-3.59 4.68-7.8 7.068-11.676 4.999-8.109 12.6-14.908 21.776-17.468 4.588-1.28 9.502-1.47 14.13-.345 4.628 1.126 8.952 3.59 12.129 7.139 3.493 3.903 5.494 8.948 6.588 14.07 1.093 5.123 1.342 10.381 1.742 15.604.4 5.223.965 10.486 2.654 15.445 1.688 4.958 4.6 9.64 8.909 12.62 3.212 2.22 7.1 3.407 11.004 3.522 3.903.115 7.813-.824 11.315-2.553 4.341-2.142 8.011-5.439 11.309-8.983 3.297-3.545 6.28-7.375 9.62-10.88 3.34-3.505 7.097-6.718 11.513-8.702 4.416-1.985 9.572-2.645 14.137-1.031 3.226 1.14 6.018 3.368 8.064 6.112 2.046 2.743 3.369 5.985 4.092 9.33 1.448 6.69.542 13.644-.515 20.406-1.057 6.763-2.263 13.623-1.398 20.413.433 3.395 1.394 6.747 3.068 9.732 1.675 2.985 4.084 5.593 7.067 7.271 2.676 1.506 5.755 2.234 8.825 2.299 3.07.065 6.134-.517 9.043-1.499 5.82-1.964 10.969-5.472 16.089-8.865 5.12-3.392 10.394-6.757 16.32-8.374 2.962-.808 6.068-1.162 9.12-.826 3.052.337 6.05 1.383 8.53 3.194 3.805 2.78 6.178 7.21 7.195 11.81 1.017 4.6.787 9.39.18 14.062-.608 4.672-1.586 9.295-2.057 13.983-.472 4.688-.422 9.507.99 14.002 1.957 6.234 6.596 11.576 12.493 14.389 5.898 2.812 12.968 3.055 19.044.652'
      ></path>
      </g
    ></svg
  >
</section>

<style>
  .am-section {
    height: 100vh;
    position: relative;
    background: conic-gradient(at bottom left, deeppink, cyan);
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .svg-2 {
    transform: scaleX(-1);
  }

  .group {
    display: inline;
    opacity: 1;
  }

  .path {
    fill: none;
    stroke-linejoin: round;
  }

  .fill-inner {
    stroke: #000;
    stroke-width: 0.79375;
    opacity: 0;
  }

  .fill-outset-7,
  .fill-outset-71 {
    stroke: lime;
    opacity: 8;
    stroke-width: 12px;
  }
</style>
